.rps {
    max-width: 400px;
    border: 2px solid grey;
    padding: 15px;
    display: inline-block;
    width: 50%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}

.winner {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 100%;
}

.wins {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 100%;
}

.losses {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 100%;

}

.ties {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 100%;
}

.computer {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 50%;
}

.you {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    text-emphasis-color: white;
    width: 50%;

}

.row {
    display: flex;
    height: 30px;
    gap: 5px;
    margin-top: 10px;
    flex: 1;
}

.btn {
    font-size: 15px;
    border: 0px;
    flex: 1;
    border-radius: 15px;
    background-color: gray;
}

.btn:active {
    filter: contrast(50%);
}